@import "./src/styles.scss";

footer{
    width: 100%;
    height: $footer;
    background-color:black;
    color:white;
    .wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        p{
            margin-left: 20px;
            @extend .open-sans;
            font-size:12px;
            line-height: 12px;
        }
        .links{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @extend .open-sans;
            font-size: 18px;
            line-height: 18px;
            .route {
                cursor: pointer;    
            }
        }
        .right{
            display: flex;
            margin-right: 20px;
            .socials{
                display: flex;
                img{
                    margin-left: 15px;
                    filter: brightness(0.7);
                    transition: .3s ease all;
                    height: 30px;
                    width: auto;
                }
                img:hover{
                    filter:brightness(1);
                }
            }
        }
        .middle{
            position: absolute;
            right: 2000px;
            top:8px;
            display: flex;
            img{
                height: 30px;
                width: auto;
            }
            .socials{
                display: flex;
                img{
                    margin-left: 15px;
                    filter: brightness(0.7);
                    transition: .3s ease all;
                }
                img:hover{
                    filter:brightness(1);
                }
            }
        }
    }
}

@import "./src/mobile-toggle.scss";