@import '../card.scss';
@import "./src/styles.scss";


h3 {
    @extend .open-sans;
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
}


.interestPicker {
    background-color: white;
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    .topSection {
        display: flex;
        height: 70px;
        .filter {
            width: 25%;
            input {
                margin-left: 20px;
                border-radius: 5px;
            }
        }
        .selected{
            display: flex;
            overflow-x: auto;
            align-items: center;
            width: 70%;
            margin-left: 2.5%;
            margin-right: 2.5%;
            margin-bottom: 5px;
            .chip:first-of-type {
                margin-left: 0 !important;
            }
            &::-webkit-scrollbar {
                height: 10px;
            }
    
            &::-webkit-scrollbar-track {
                background-color: #79BC78;
                border-radius: 5px;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: #276A22;
                border-radius: 5px;
            }
        }
    }
    .bottomSection {
        height: 220px;
        border-top: solid black 2px;
        .wrapper {
            margin: auto;
            width: 95%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            flex-wrap: wrap;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 10px;
            }
    
            &::-webkit-scrollbar-track {
                background-color: #79BC78;
                border-radius: 5px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: #276A22;
                border-radius: 5px;
            }
        }
    }


    
}

.chip {
    display: flex;
    @extend .open-sans;
    font-size: 14px;
    line-height: 24px;
    height: 34px;
    white-space: nowrap;
    .plus {
        font-size: 30px;
    }
    .cross {
        font-size: 20px;
    }
    background-color: #79BC78;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}